<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />

	<style>
		a.org{
			color: #999;
		}
	</style>

</head>
<body>

<div id="main" class="main-content" role="main">
	<header>
		<h1><a href="/">Rize API demo</a></h1>
	</header>
	<ul>
	<% for (i=0; i<global.api_data.accounts.length; i++){ %>
		<li>
		<a href="/profile/<%= global.api_data.accounts[i].id - 1 %>" class="<% if ( global.api_data.accounts[i].account_type == 'Organization'){ %>org<% } %>">
			<%= global.api_data.accounts[i].display_name %> 
			<% if ( global.api_data.accounts[i].account_type == "Person" && global.api_data.accounts[i].linkedin ){ %>
			(<%= global.api_data.accounts[i].linkedin.job_title %>)
			<% } %>
			</a>
		</li>
	<% } %>
	</ul>
</div><!-- #main -->
<div class='clearAll'></div>


</body>
</html>