#container{
	max-width: 970px;
	margin: 0 auto;
	width: 100%;
}
.clearAll{
	clear: both;
}
.rize-profile-category{
	background-color: green;
	color: #FFF;
	float: left;
	padding: 5px;
}
.rize-profile-location{
	float: right;
}
.rize-profile-banner{
	background-color: orange;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 360px;
	position: relative;
	width: 100%;
}
.rize-profile-banner-text{
	position: absolute;
	top: 60%;
	left:0;
}
.rize-profile-position{
	background-color: #333;
	color: #FFF;
}
.rize-profile-description{
	margin:0;
	padding:0;
	font-family: serif;
}
.rize-profile-social, 
.rize-profile-quotation{
	margin:0;
	padding: 0;
	text-align: center;
}
.rize-profile-social ul{
	padding: 0;
}
.rize-profile-social-link{
	display: inline-block;
}
.rize-profile-social-link a{
	background-color: #999;
	display: block;
	height: 40px;
	width: 40px;
}
.rize-profile-quotation{
	text-align: center;
}
.rize-profile-quotation-date{
	display: block;
}
.rize-profile-twitter-mugshot{
	border-radius: 50%;
	display: inline-block;
	height: auto;
	width: 40px;
}

@media screen and (min-width: 600px) {
	.rize-profile-description{
		width: 70%;
		float:left;
	}
	.rize-profile-social, 
	.rize-profile-quotation{
		float: right;
		width: 25%;
	}
}



